@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --white-primary: #fff;
  --white-secondary: #efefef;
  --white-thirdary: #f4f5f9;

  --gray-light-primary: #edeef1;
  --gray-light-secondary: #eeeeee;
  --gray-light-thirdary: #dddddd;
  --gray-light-fourdary: #cbced6;

  --gray-primary: #8c8f96;
  --gray-secondary: #6d6d6d;
  --gray-thirdary: #3c3c3c;
  --gray-fourdary: #7b7b7b;
  --gray-fivedary: #626262;

  --gray-dark-primary: #5b6268;

  --blue-primary: #49d0ff;

  --black-primary: #121214;
  --black-secondary: #000000;
  --black-thirdary: #303030;
  --black-fourdary: #20282f;
  --black-fivedary: #2f2f2f;
}

:root {
  --color-background-header: var(--black-primary);
  --color-link-header: var(--white-primary);
  --color-link-header-hover: var(--blue-primary);
  --color-link-breadcrumbs: var(--gray-primary);
  --color-link-breadcrumbs-hover: var(--blue-primary);
  --color-link-breadcrumbs-active: var(--black-primary);
  --color-sum-header: var(--gray-primary);

  --color-main-heading: var(--black-primary);
  --color-text-quantity: var(--gray-primary);

  --color-text-sort-box: var(--gray-secondary);
  --color-text-sort-button: var(--black-secondary);
  --color-text-sort-button-active: var(--gray-secondary);

  --color-text-card-name: var(--black-secondary);
  --color-text-card-price: var(--gray-thirdary);

  --color-text-product-title: var(--black-secondary);
  --color-text-product-size-title: var(--black-thirdary);
  --color-border-product-size: var(--white-secondary);
  --color-border-product-size-hover: var(--blue-primary);
  --color-text-product-size: var(--black-secondary);
  --color-text-product-size-active: var(--white-primary);
  --color-text-product-price: var(--gray-fourdary);
  --color-text-product-choose-price: var(--gray-fivedary);
  --color-text-product-choose-size: var(--black-secondary);
  --color-background-product-choose-button: var(--black-primary);
  --color-background-product-choose-button-hover: var(--blue-primary);
  --color-text-product-choose-button: var(--white-primary);

  --color-border-product-details-head: var(--white-thirdary);
  --color-border-product-details-head-button: var(--blue-primary);
  --color-text-product-details-head: var(--black-fourdary);
  --color-text-product-details-description: var(--black-thirdary);
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a.active {
  border-bottom: 2px solid var(--color-link-header-hover);
} */
