@import './base.css';

/* @font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('@/assets/fonts/Inter-Variable.woff2') format('woff2');
} */

#app {
  margin: 0 auto;
  font-weight: normal;
}

.filter-box {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;
  border: 1px solid var(--gray-light-fivedary);
  border-radius: 5px;
  padding: 25px;
}
.filter-title {
  line-height: 20px;
  font-size: 13px;
  font-weight: 900;
  color: var(--black-primary);
  text-transform: uppercase;
}
.filter-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.filter-checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-input {
  appearance: none;
  position: relative;
  width: 23px;
  height: 23px;
  background: var(--white-fourdary);
  border: 1px solid var(--gray-light-fourdary);
  border-radius: 3px;
  transition: 500ms;
  cursor: pointer;
}
.checkbox-input::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--blue-primary);
  background-image: url('/icons/icon-checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}
.checkbox-input:checked::after {
  width: 23px;
  height: 23px;
}
.checkbox-label {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: var(--black-fourdary);
  text-transform: capitalize;
}
