@import './base.css';

/* @font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('@/assets/fonts/Inter-Variable.woff2') format('woff2');
} */

#app {
  margin: 0 auto;
  font-weight: normal;
}
.container {
  padding-top: 48px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}
@media (max-width: 1023px) {
  .container {
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
}
.title-container {
  padding-top: 48px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1023px) {
  .title-container {
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .title-container {
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.split {
  display: flex;
  gap: 28px;
}
.filter-box {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 100%;
  border: 1px solid var(--gray-light-fivedary);
  border-radius: 5px;
  padding: 25px;
}
.filter-title {
  line-height: 20px;
  font-size: 13px;
  font-weight: 900;
  color: var(--black-primary);
  text-transform: uppercase;
}
.filter-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.filter-checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-input {
  appearance: none;
  position: relative;
  width: 23px;
  height: 23px;
  background: var(--white-fourdary);
  border: 1px solid var(--gray-light-fourdary);
  border-radius: 3px;
  transition: 500ms;
  cursor: pointer;
}
.checkbox-input::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--blue-primary);
  background-image: url('/icons/icon-checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}
.checkbox-input:checked::after {
  width: 23px;
  height: 23px;
}
.checkbox-label {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: var(--black-fourdary);
  text-transform: capitalize;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 71px;
  border-radius: 5px;
  background: var(--gray-normal-primary);
  font-weight: 400;
  font-size: 14px;
  padding: 14px 20px;
  border: 1px solid transparent;
  transition: 0.3s ease all;
}
.form-input:focus {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--blue-primary);
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-normal-secondary);
}
.form-input-error {
  position: absolute;
  top: 73px;
  left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: red;
}
.form-input-warning {
  border: 1px solid red;
}
.form-label {
  position: absolute;
  top: 5px;
  left: 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: var(--gray-dark-fivedary);
}
.form-bottom-label {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: red;
}
.form-label-span {
  color: var(--gray-semi-primary);
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 66px;
  border-radius: 5px;
  background: var(--gray-normal-secondary);
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: var(--gray-light-sevendary);
  text-transform: uppercase;
}
.form-button-active {
  background: var(--black-primary);
  color: var(--white-primary);
  cursor: pointer;
  transition: 0.3s ease all;
}
.form-button-active:hover {
  color: var(--black-primary);
  background: var(--blue-primary);
}
.profile-modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 26px;
}
.profile-modal-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile-modal-form-checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 12px;
}
.profile-modal-form-checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black-secondary);
}
.profile-modal-form-bottom-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: var(--gray-semi-sevendary);
  cursor: pointer;
  transition: 0.3s ease all;
}
.profile-modal-form-bottom-button:hover {
  color: var(--blue-primary);
}
